.card
  .card-header.d-flex.justify-content-center
    %h2.text-center Menus
    - if current_user.admin?
      = link_to "+", new_category_path, class: 'text-decoration-none fw-bold h5'
  .row.mt-4.m-0.d-flex.flex-row.justify-content-center.flex-wrap.card-body
    = render 'menu'
